---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

This page lists the main talks I gave at conferences and seminars. These talks generally present part of my research work but are not tied to a particular publication (see the <em>international conference</em> section of the <em>publications</em> page for these).

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
