---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<p>This page lists the main talks I gave at conferences and seminars. The first section lists the talks given at international conferences with a peer review process while the second section lists more local seminars and workshops.</p>

<h2>International Conferences</h2>

{% for post in site.international_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Seminars and Workshops</h2>

{% for post in site.local_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

